body {
  padding: 0px;
  margin: 0px;
  background-color: #262626;
}

.container {
  padding: 0px;
  margin: 0px;
  background-color: #626262;
  width: 80vw;
  height: 1380px;
  margin: 0 auto 0 auto;
}

.container .bannerTop {
  overflow: hidden;
  width: 80vw;
  height: 380px;
}

.container .banner {
  width: 80vw;
}

.container .banner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.container .banner li {
  float: left;
}

.container .banner li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container .banner li a:hover:not(.active) {
  background-color: #000;
}

.container .banner .active {
  background-color: #000;
}

.container .banner .searchBar {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.container .news {
  display: -ms-grid;
  display: grid;
  width: 740px;
  -ms-grid-columns: 5;
      grid-template-columns: 5;
  -ms-grid-rows: 30px 220px 60px;
      grid-template-rows: 30px 220px 60px;
  margin: 20px auto 20px auto;
}

.container .news .boxTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  grid-row: 1;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .news .box1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box1-1 ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container .news .box2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .news .box2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box2-1 ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container .news .box3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .news .box3-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box3-1 ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container .news .box4 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .news .box4-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box4-1 ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container .news .box5 {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .news .box5-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #fff;
  padding: 5px;
  background-color: #262626;
}

.container .news .box5-1 ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container .movies {
  width: 79vw;
  height: 575px;
  margin: 20px auto 20px auto;
}

.container .movies .movie-card {
  background-color: #fff;
  width: 315px;
  margin: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 6px 10px #0f0f0f;
          box-shadow: 0px 6px 10px #0f0f0f;
}

.container .movies .movie-card .movie-header {
  padding: 0;
  margin: 0;
  height: 430px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .movies .movie-card .aquaMan {
  background: url("http://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/Aquaman.jpg");
  background-size: cover;
}

.container .movies .movie-card .mortalEngines {
  background: url("https://i.redd.it/kaneapgbtcq11.jpg");
  background-size: cover;
}

.container .movies .movie-card .bumbleBee {
  background: url("https://i.imgur.com/MktKRn5.jpg:large");
  background-size: cover;
}

.container .movies .movie-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 15px #0f0f0f;
          box-shadow: 0px 10px 15px #0f0f0f;
}

.container .movies .movie-content {
  padding: 20px;
}

.container .movies .movie-content .movie-content-header, .container .movies .movie-content .movie-info {
  display: table;
  width: 100%;
}

.container .movies .movie-content .movie-content-header .movie-title, .container .movies .movie-content .movie-info .movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.container .movies .movie-content .movie-info {
  margin-top: 10px;
}

.container .movies .movie-content .movie-info .info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.container .movies .movie-content .movie-info .info-section:first-of-type {
  text-align: left;
}

.container .movies .movie-content .movie-info .info-section:last-of-type {
  text-align: right;
}

.container .movies .movie-content .movie-info .info-section label {
  display: block;
  opacity: 0.5;
  font-size: 10px;
}

.container .movies .movie-content .movie-info .info-section span {
  font-size: 12px;
  font-weight: bold;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 60px;
  background-color: #000;
}
/*# sourceMappingURL=primary.css.map */